<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <%- include('partials/header') %>
    <title>Conversion Result</title>
</head>
<body class="shipping-cost-result-page">
    <h1>Conversion Result</h1>
    <% if (result === "Cannot convert between the same units.") { %>
        <p><%= result %></p>
    <% } else if (result === "Conversion not supported.") { %>
        <p><%= result %></p>
    <% } else { %>
        <p><%= value %> <%= fromUnit %> is equal to <%= result %> <%= toUnit %></p>
    <% } %>
    <a href="/" class="button-link">Back to Conversion</a>
</body>
</html>
